.container {
    width: 100rem;
    height: 91%;
    margin: 0 auto;
    background-size: cover;
    background-position: right;
    // min-height: 50rem;
    // border:1px solid blue;
    
    .content {
        // border:1px solid blue;
        .menu-view {
            // border:1px solid blue;
            height: 50vh;
            width: 100%;
            padding: 1rem;
        }
        
        .sidebar { 
            padding: 0 1rem;
            height: 39.5vh;
            // background-color: var(--dark4);
        }
    }
}

